*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
}
body{
  color: #343a40;
  font-size: 24px;
  display: grid;
  grid-template-columns: 80px 400px 1fr 250px;
  height: 100vh;
  grid-template-rows: 80px 1fr;
  text-align: center;
  font-weight: bold;
 
}
nav,section,main,aside{
  padding-top: 24px;
}
nav{
background-color: rgb(3, 3, 34);
grid-row: 1/-1;
color: #fff;
}
menu{
  background-color: rgb(3, 28, 44);
  color: #fff;
  grid-column: 2/-1;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 40px;

}
aside{
  background-color: #e9ecef;
}
button{

  font-size: 16px;
  font-weight: bold;
  border: none;
  background-color: rgb(1, 40, 53);
  cursor: pointer;
  color: white;
  padding: 8px 12px;
  display: inline-block;
}
button:last-child{
  background-color: #d6336c;
  margin-left: auto;
}
section{
  background-color: #e9ecef;
  padding: 40px;
  display: flex;
flex-direction: column;
  gap: 40px;
  overflow: scroll;
}
.email{
  background-color: blue;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
